.bubble {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 100;
    margin-left: -100px;
    margin-top: -100px;
    position: fixed;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    /*background: radial-gradient(ellipse at center, rgba(0,180,255, 0) 0%,rgba(255,255,255,0.5) 70%);*/
    pointer-events: none;
}

.bubble:after {
    background: radial-gradient(ellipse at center, rgba(0, 180, 255, 0.45) 0%, rgba(255, 255, 255, 0) 70%);
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    content: "";
    height: 180px;
    left: 10px;
    position: fixed;
    width: 180px;
}