.projectBox {
  background-size: cover;
  width: 100%;
  background: no-repeat center;
  margin: 0;
  position: relative;
  display: inline-block;
  /* overflow: hidden; */
  transition: ease-in-out 0.3s;
  background-size: cover;
  /* background-color: rgba(255, 255, 255, 0.3); */
  /* background-color: rgba(0, 0, 0, 0); */
  /* box-shadow: 0px 0px 200px 0px rgba(255, 255, 255, 0.5); */
}

.projectName {
  color: white;
  /* border: white 3px solid; */
  text-align: center;
  display: inline-block;
  padding: 20px 20px;
  /* background: rgba(255, 255, 255, 0.4); */
  font-size: 25pt;
  font-family: "Garamond", sans-serif;
  position: relative;
  top: 35%;
  /* text-shadow: 0px 0px 100px rgba(255, 255, 255, 1), 0px 0px 100px rgba(255, 255, 255, 1), 0px 0px 100px rgba(255, 255, 255, 1), ; */
}

.projectsBox {
  transition: ease-in-out 0.8s;
  position: relative;
  margin: 0;
  width: 80;
  pointer-events: none;
  max-width: 1920;
  text-align: center;
}

.projectImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 
.projectBox:hover {
  transform: scale(1.15);
  opacity: 1 !important;
} */

.projectsBox .projectBox {
  pointer-events: auto;
}

/* .projectsBox:hover .projectBox {
  opacity: 0.5;
} */

/* .projectsBox:hover .projectBox:hover {
  opacity: 1;
} */

.description {
  margin: 0;
  /* margin-top: 25px; */
  /* margin-bottom: 50px; */
  font-size: 11pt;
  /* text-indent: 1em; */
}

.white-bg {
  background-color: white;
}

.projects {
  background-position: center;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}

.flip-card {
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  text-align: left;
  background-color: dodgerblue;
  background-color: rgb(24, 49, 72);
  color: white;
  transform: rotateY(180deg);
  padding: 30px;
}

.flip-card-face {
  overflow: hidden;
  border-radius: 10px;
}