
body {

  font-family: 'Lucida Sans Unicode', 'Arial', serif;
  font-size: larger ;
  background-color: #1F2F48 ;
  color: white;
  height: 100%;
  min-height: 100%;
  text-align: center;

}

html {
  height: 100%;
}
h1{ 
  font-size: 80px ;

}
 
.btn{
  font-size: 20px;
  background-color: rgb(57, 104, 105);
  color: whitesmoke;
}
#root, .App {
   min-height: 100%;
}
 
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
}

.App-header {
  background-color: #222;
  height: 800px;
  padding: 0px;
 }

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}


.block {
  width: 130px;
  margin: 0 auto;
  display: block;
}


header .btn {
  text-transform: uppercase;
}

header a:hover, .btn a:hover::before{
  text-decoration: none;
  transform: scale(1.1);
  box-shadow: 0 0 15px teal;
 
}
header a:hover, .btn a:hover {
  color: white;
  box-shadow: 0 0 0 yellow;
  text-shadow: 0 0 5px white;
}


header .btn, .services {
  margin-top: 100px;
}

header {
  padding: 80px 0 150px;
  padding-bottom: 100px;
}

.about, .contact {
  padding: 150px 0;
}

header {
  background: url("/portfolio2019/images/header.jpeg") no-repeat fixed center / cover;
  text-align: center;
}

.projects{
  background-position: center;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("/portfolio2019/images/background.jpeg");
  box-shadow: 0px 100px 100px 120px rgb(24,49,72) inset, 0px -10px 100px 100px rgb(24,49,72);
                      /*-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADB2B6), color-stop(100%, #ABAEB3));*/
  padding-top: 50px;
 
}

nav ul, .contact ul {
  list-style: none;
 }

 nav{
  width: 100%;
  padding-bottom: 100px;
  color: white;

 }

nav li {
  width:100%;
}

nav a {
  position:  center;
  width: 100%;
  height: 30px;
  padding: 10px 0;
  line-height: 30px;
}

nav li:nth-child(2n+1) a:after {
  position: absolute;
  content: '';
  top: 19.5px;
  right: -2.5px;
  z-index: 10;
  border-radius: 100%;
  background: rgb(35, 76, 109);
  width: 5px;
  height: 5px;
}


nav li {
    width: auto;
    float: right;
    padding-top: 50px;
    padding-bottom: 50px;

  }

  a {
    box-shadow: white;
    color: white;
    
  }

  nav a {
    padding: 7px;
    border-right: 10px 1px  ;
    float: right;
    width: 100px;
    font-size: 18px;
   }

  

footer{
 padding-top: 10%;

}

.resume *{

 position: relative;
 
 margin-top: 50px;
 width: 80% ;
}

.contacts{
  padding: 100px 100px 100px 100px;
  box-shadow: 0px 100px 100px 120px rgb(24,49,72) inset, 0px -10px 100px 100px rgb(24,49,72);
  /*-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADB2B6), color-stop(100%, #ABAEB3));*/
}
 
 .contacts  a { 
  text-align: center;
  padding-right: 40px;
}
 
 section a:hover, .btn a:hover {
  color: yellow;
  box-shadow: 0 0 0 yellow;
  text-shadow: 0 0 5px  black;
}
h3{
   font-family:  "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 40px;
  padding-bottom: 25px;
}


 
.titleName{
  text-align: left;
  box-shadow: 0px 100px 100px 120px rgb(24,49,72) inset, 0px -10px 100px 100px rgb(24,49,72);
  /*-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ADB2B6), color-stop(100%, #ABAEB3));*/
  margin-left: 50px;
  color : teal;
}


.title{
  margin-top: 100px;
  text-align: middle;
   
}

p{
  margin-left: 50px;
  text-align: left;
  padding-bottom: 150px;
  
}
 
.resume{
  width: 80%;
  margin-left: 15%;
  margin-right: 10%;
 
}

#resume {
  box-shadow: 0px 100px 100px 120px rgb(24,49,72) inset, 0px -10px 100px 100px rgb(24,49,72);
  background-image: url("/images/background.jpg");

}
 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
 }