body {
  font-family: 'Roboto', sans-serif;
  font-size: larger;
  background-color: rgb(24, 49, 72);
  color: #E7E8EB;
  height: 100%;
  min-height: 100%;
  font-weight: 200;
  overflow: scroll;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

.title * {
  font-weight: 200;
  text-shadow: 0px 0px 50px white;
  text-align: center;
  /* filter: blur(2px); */
  /* -webkit-filter: drop-shadow(0px 0px 400px 200px white); */
}

h2, h3, h4, h5, h6, h7 {
  font-weight: 200;
}

.title {
  top: 10%;
  position: relative;
  width: fit-content;
  margin: auto;
  text-align: center;
  left: 0;
}

.title h1 {
  font-size: 70pt;
}

/* .title h1, .title h4 {
  box-shadow: 0px 0px 100px 20px rgba(255, 255, 255, 0.5);
  width: fit-content;
} */

.scrolldown {
  bottom: 15px;
  position: absolute;
  display: block;
  margin: auto;
  width: 100%;
  font-size: 40pt;
  /* font-weight: 200; */
}

.card-body {
  color: rgb(24, 49, 72);
}

.collab-btn {
  margin-top: 100px;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  border: 0;
  color: whitesmoke;
  box-shadow: 0px 0px 100px 20px rgba(255, 255, 255, 0.5);
  z-index: 50;
  position: relative;
  text-transform: uppercase;
}

#root, .App {
  min-height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
}

.headerBG, .home-header .headerShadow, .intro-header {
  height: 100vh;
  min-height: 720px;
}

.homeContent, .pageFooter {
  background-color: rgb(24, 49, 72);
}

/* .headerBG:before, .headerBG:after {
  background: url("/images/header.jpeg") no-repeat fixed center / cover;
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
} */

.home-header .headerShadow {
  width: 100%;
  position: absolute;
  display: block;
  background: linear-gradient(0deg, rgba(24, 49, 72, 1) 0%, rgba(24, 49, 72, 0.95) 5%, rgba(24, 49, 72, 0.7) 15%, rgba(24, 49, 72, 0.2) 30%, rgba(24, 49, 72, 0) 50%);
}

.headerBG {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.home {
  top: 0;
  position: relative;
}

.home::before {
  display: block;
  content: '';
  /* height: 70px; */
  /* or whatever */
}

.home-header {
  top: 0px;
}

.intro-header {
  padding: 0px;
  position: relative;
}

.about-header {
  height: 500px;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

.block {
  width: 130px;
  margin: 0 auto;
  display: block;
}

.collab-btn:hover, .collab-btn:hover::before {
  text-decoration: none;
  transform: scale(1.1);
  box-shadow: 0 0 15px teal;
}

.collab-btn:hover {
  color: white;
}

.btn:focus {
  box-shadow: inherit;
  box-shadow: 0px 0px 100px 20px rgba(255, 255, 255, 0.5);
}

.services {
  margin-top: 100px;
}

header {
  padding-bottom: 50px;
  background-size: cover;
  text-align: center;
}

.about, .contact {
  padding: 150px 0;
}

nav ul, .contact ul {
  list-style: none;
}

nav ul, .contact ul {
  list-style: none;
}

nav.nav {
  text-align: center;
  right: 0;
  padding-right: 30px;
  height: 70px;
  color: white;
  flex-direction: row-reverse;
  position: fixed;
  width: 100%;
  background-color: rgb(24, 49, 72);
  /* background-color: rgba(24, 49, 72, 0.8); */
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 100;
  display: block;
}

nav .col {
  width: 100%;
  width: auto;
  /* float: right; */
}

nav .row {
  display: block;
}

nav .row .col {
  height: 100%;
}

nav a {
  position: center;
  width: 100%;
  height: 70px;
  /* height: 30px; */
  display: inline-block;
  line-height: 70px;
  font-size: 20px;
  vertical-align: middle;
}

a {
  box-shadow: white;
  color: white;
}

a:hover {
  color: #6DC0D9;
  text-decoration: unset;
}

footer {
  margin-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.homePageSection {
  padding-top: 100px;
  z-index: 2;
}

.homePageSection h1, h2, h3, h4, h5, p {
  position: relative;
}

.resume {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
}

.resume .carousel {
  position: relative;
}

.contacts {
  text-align: center;
  padding: 100px 100px 0 100px;
}

.contacts a {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

section.contactsList a:hover, .btn a:hover {
  color: yellow;
  box-shadow: 0 0 0 yellow;
  text-shadow: 0 0 5px black;
}

h2 {
  /* font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
  font-size: 40pt;
  padding-bottom: 25px;
}

h3 {
  font-size: 25pt;
  padding-bottom: 25px;
}

.titleName {
  text-align: left;
  color: #6DC0D9;
}

.aboutmeWrapper {
  text-align: center;
  /* background: linear-gradient(0deg, rgb(24, 49, 72) 50%, rgba(24, 49, 72, 0.88) 80%, rgba(24, 49, 72, 0.7) 85%, rgba(0, 0, 0, 0) 100%); */
}

.aboutProfilePic {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  margin-top: 10px;
  vertical-align: middle;
  display: inline-block;
}

.aboutProfilePicWrapper {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: auto;
  background-color: hsl(209, 50%, 80%);
  background-color: #E7E8EB;
  box-shadow: 0 0px 10px hsl(209, 50%, 80%);
  vertical-align: middle;
  margin-bottom: 70px;
  position: relative;
}

.pageTitle {
  position: relative;
  text-align: center;
  font-size: 45pt;
}

.aboutmeSection {
  max-width: 1440px;
  padding-left: 50px;
  padding-right: 50px;
  /* padding-top: 100px; */
  margin: auto;
  text-align: center;
}

strong {
  color: hsl(209, 50%, 50%);
}

.aboutme {
  padding-bottom: 50px;
  margin-bottom: 0;
  text-align: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.projBGBG {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  /* height: 100%; */
  width: 100%;
  z-index: 0;
}

.projBGShadow {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(24, 49, 72, 0.7) 85%, rgba(24, 49, 72, 0.88) 91%, rgba(24, 49, 72, 1) 99%), linear-gradient(0deg, rgba(24, 49, 72, 1) 5%, rgba(0, 0, 0, 0) 20%);
  display: block;
  height: 100%;
  z-index: 1;
}

.projBG {
  width: 100%;
  opacity: 0;
  z-index: -10;
}

.copyright {
  font-size: 8pt;
  text-align: center;
}

.title * {
  font-weight: 200;
  text-shadow: 0px 0px 50px white;
  text-align: center;
  /* filter: blur(2px); */
  /* -webkit-filter: drop-shadow(0px 0px 400px 200px white); */
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 12s ease;
  transition: transform 6s, -webkit-transform 1s ease;
}

.carousel-inner {
  padding: 0;
  width: 60%;
  max-width: 1440px;
  min-width: 720px;
  margin: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 50px;
  height: 50px;
}

.carousel-indicators {
  position: relative;
}

/* 
.top {
  z-index: 10;
  position: relative;
} */

 